*.pyc
*.db
*~

hboratings/db.sqlite3
build/
dist/
*.egg-info/
env/
.idea/
MANIFEST
.DS_Store
._.DS_Store
tags

# Ignore secret things
secrets.zip
secrets/
secrets_/
booksmart/booksmart/settings/prod.py
